name: Update emacs snapshots

on:
  schedule:
    - cron: "15 9 * * 1"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@V27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Update release snapshot commit
      run: 'nix flake update emacs-release-snapshot'
    - name: Update HEAD snapshot commit
      run: 'nix flake update emacs-snapshot'
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        title: 'Update emacs snapshots'
        body: ''
        commit-message: 'Update emacs snapshots'
        branch: snapshot-update
        branch-suffix: timestamp
        delete-branch: true
        add-paths: flake.lock
